<div class="container theme-dark">
  <div class="row">
    <div class="col">
      <calculadora [SeparadorDecimal]="','" (updated)="ponResultado('IZQ', $event)" />
    </div>
    <table class="col table table-striped">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Calc</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">Idioma: <select [(ngModel)]="idioma">
              @for (i of idiomas; track i.codigo) {
                <option [value]="i.codigo">{{i.region}}</option>
              }
            </select>
          </td>
        </tr>
      </tfoot>
      <tbody>
        @for (r of calculos | slice:-10; track r) {
          <tr>
            <td class="text-right">{{r.pos}}</td>
            <td>{{r.origen}}</td>
            <td class="text-right">{{r.valor | number:'1.0-8':idioma }}</td>
          </tr>
        }
      </tbody>
    </table>
    <div class="col">
      <calculadora [init]="valCalculadora" (updated)="ponResultado('DER', $event)"></calculadora>
    </div>
  </div>
  <div class="row">
    <input type="number" [(ngModel)]="valCalculadora">
  </div>
</div>
<h1>Hola {{nombre() | elipsis:10 | uppercase}}</h1>
<p>
  <input type="text" [(ngModel)]="nombre">
  <input type="button" value="saluda" (click)="saluda()" >
  <input type="button" value="despide" (click)="despide()" >
  <input type="button" value="di algo" (click)="di('algo')" >
  <input type="button" value="cambia" (click)="cambia()" >

  <input type="button" value="Error" (click)="vm.add('Esto es una notificación de error')" >
  <input type="button" value="Warn" (click)="vm.add('Esta notificación es un aviso',  vm.NotificationType.warn)" >
  <input type="button" value="Info" (click)="vm.add('Solo una notificación informativa',  vm.NotificationType.info)" >
  <input type="button" value="Log" (click)="vm.add('Para trazar con notificaciones',  vm.NotificationType.log)" >
</p>

<!-- <p [textContent]="resultado">Esto esta mal, enlaza la señal y no el valor</p> -->
<p [textContent]="resultado()">Esto se pierde</p>
<p [innerHTML]="resultado()">Esto se pierde</p>

<p [hidden]="!visible()">Ahora se ve</p>
<p *ngIf="visible()">Ahora existo</p>
@if(visible()) {
  <p>Ahora existo (flujo)</p>
}
<p [ngClass]="estetica()">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio beatae, delectus exercitationem quo inventore ullam. Eius eos atque eligendi. Delectus magnam eius fugiat atque explicabo vel ea suscipit beatae iure!
</p>
<p [class.semi-visible]="!visible()">Ahora me ves bien</p>
<p>Fecha: {{Fecha | date:'dd/MMM/yyyy' | uppercase}} </p>
<p>
  Calcula: 2 + 2 = {{(2 + 2) | number:'2.2-3'}} = {{calcula | exec:2:fontSize() | currency:'EUR':'symbol':'1.2-2'}}
</p>

<ul>
  <li *ngFor="let item of listado() | slice:-5; let indice = index; let fondo=odd;"
    [style.background-color]="fondo ? 'LightBlue' : 'Lavender'">
    {{item.nombre | capitalize}} ({{item.id}}) [Elemento {{indice + 1}} de {{listado().length}}]
  </li>
</ul>
<ul>
  @for(item of listado() | slice:-5; track item.id;) {
  <li [style.background-color]="$odd ? 'LightBlue' : 'Lavender'">
    {{item.nombre | titlecase}} ({{item.id}}) [Elemento {{$index + 1}} de {{$count}}]
  </li>
  }
</ul>
<p>Total: {{total()}}</p>
<p>
  <select [(ngModel)]="idProvincia" >
    <option value="">--Elige opción--</option>
    <option *ngFor="let p of listado()" [value]="p.id">{{p.nombre}}</option>
  </select>
  <b>idProvincia: </b>{{idProvincia()}}
  <input type="text" #txtProvincia value="Tabarnia">
  <input type="button" value="Añadir" (click)="add(txtProvincia.value)">
</p>

<my-sizer [(size)]="fontSize" [step]="2" />
<app-card header="Ejemplo de {{nombre()}}">
  <p [style.font-size.px]="fontSize()">
  {{listado() | json}}
  </p>
</app-card>
<app-form-buttons send-text="aceptar"
  (send)="vm.add('Enviado')" (delete)="vm.add('Borrado')" (abandon)="vm.add('Abandonado')">
